@use '../../styles/variables' as *;
@use "../../styles/effects" as *;

.header {
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: auto;
  background-color: var(--background-page);
  border-bottom: 1px solid #3B3E4A;
  padding-inline-start: $padding-inline-mobile;
  z-index: 10;

  @media (min-width: $breakpoint-desktop) {
    height: 64px;
    justify-content: unset;
    padding-left: $padding-inline-tablet;
  }

  .header__burgerButton {
    position: relative;

    display: flex;
    align-items: center;

    width: 48px;
    height: 48px;
    background: transparent;
    cursor: pointer;
    padding: 0;
    border-left: 1px solid #3B3E4A;
    margin-left: auto;
    overflow: hidden;

    @include ripple-hover;

    @media (min-width: $breakpoint-tablet) {
      display: none;
    }

    input {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0,0);
      border: 0;
    }

    span {
      display: block;
      position: absolute;
      left: 50%;
      height: 2px;
      width: 17px;
      background-color: var(--color-primary);
      border-radius: 8px;
      transition: transform 0.3s, opacity 0.3s;
      transform: translateX(-50%);
      z-index: 1;
    }

    span:nth-of-type(1) {
      top: 16px;
    }

    span:nth-of-type(2) {
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    span:nth-of-type(3) {
      bottom: 16px;
    }

    input:checked ~ span:nth-of-type(1) {
      transform: translateX(-55%) translateY(6px) rotate(45deg);
      width: 19px;
    }

    input:checked ~ span:nth-of-type(2) {
      opacity: 0;
    }

    input:checked ~ span:nth-of-type(3) {
      transform: translateX(-56%) translateY(-8px) rotate(-45deg);
      width: 19px;
    }
  }

  .arrowButton {
    position: relative;
    top: 50px;
  }

  .arrowIcon {
    transform: rotate(90deg);
  }
}
