@use "../../styles/variables";

.productsBox {
  display: flex;
  flex-direction: column;

  width: 288px;
  margin-top: 46px;
  margin-inline: auto;

  .title {
    color: var(--color-primary);
    padding-block: 16px;
  }
}

.error {
  /* TODO: styles will be added later */
}

.empty {
  /* TODO: styles will be added later */
}

.products {
  /* TODO: styles will be added later */
}
