@use "../../styles/variables" as *;
@use "../../styles/effects" as *;
@use "../../styles/mixins";

.navigation {
  position: fixed;
  top: 49px;
  right: 0;
  width: 100%;
  height: calc(100vh - 48px);
  background-color: var(--background-page);
  transform: translateX(100%);
  transition: transform 0.4s ease;
  overflow: hidden;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  padding-top: 24px;
  bottom: 0;

  @media (min-width: $breakpoint-tablet) {
    display: none;
  }

  &__link {
    padding-bottom: 8px;

    @include mixins.nav-link-base;

    &:hover::after {
      bottom: 0;
      left: 0;

      width: 100%;
      height: 2px;
    }
  }

  &__right {
    display: flex;
    justify-content: space-around;

    width: 100%;
    height: auto;
    margin-top: auto;
    border-top: 1px solid #3B3E4A;
  }

  .divider {
    width: 1px;
    height: 100%;
    background-color: #3B3E4A;
  }

  &__iconLink {
    position: relative;
    display: flex;
    justify-content: center;

    width: 50%;
    padding: 24px;
    border-bottom: 2px solid transparent;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;

      width: 0;
      height: 100%;

      background-color: $c-grey-slate;
      z-index: 0;

      transform: translateX(-50%);
      transition: width 0.4s ease;
    }

    &:hover {
      color: $c-white-off;

      &::after {
        width: 100%;
      }
    }
  }

  &__icon {
    width: 1rem;
    height: auto;
    z-index: 1;
    position: relative;
  }

  .counter {
    /* TODO: styles will be added later */
  }
}

.open {
  transform: translateX(0%);
}
