.bannerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  margin: 32px 0;
}

.mainContent {
  display: flex;
  align-items: center;
  gap: 16px;

  width: 100%;
}

.window {
  flex-grow: 1;
  overflow: hidden;
  border-radius: 8px;
}

.slidersWrapper {
  display: flex;

  width: 100%;

  transition: transform 0.5s ease-in-out;
}

.slide {
  display: block;
  flex-shrink: 0;

  width: 100%;
}

.image {
  display: block;

  width: 100%;
  height: auto;
}

.btn {
  width: 40px;
  height: 352px;
}

.arrowButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 52px;
  height: 352px;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #e2e6e9;
  transition: background 0.3s;

  &:hover {
    background: #f1f2f3;
  }
}

.arrow {
  color: #313237;
}

.arrowLeft {
  transform: rotate(180deg);
}

.arrowRight {
  /* TODO: styles will be added later */
}

.dots {
  display: flex;
  gap: 8px;
}

.dot {
  width: 14px;
  height: 4px;
  background: #e2e6e9;
  cursor: pointer;
  transition: background 0.3s;

  &Active {
    background: #313233;
  }
}

.buttonLeft {
  /* TODO: styles will be added later */
}

.buttonRight {
  /* TODO: styles will be added later */
}
