.imagesBlock {
  display: flex;
  flex-direction: column;

  width: 100%;

  .mainImageBoss {
    display: flex;
    align-items: center;

    width: 100%;

    .imageBoss {
      margin: auto;
      min-width: 100px;
    }
  }

  .imagesBox {
    display: flex;
    justify-content: space-between;
    width: 100%;



    .imgButton {
      width: 150px;
      cursor: pointer;

      .thumbnail {
        width: 100%;
        cursor: pointer;
      }
    }
  }

  .active {
    // I know. I'll fill it in later!
  }
}

.loader {
  // I know. I'll fill it in later!
}
