.summary {
  .info {
    .totalPrice {
      /* TODO: styles will be added later */
    }

    .countText {
      /* TODO: styles will be added later */
    }
  }

  .divider {
    /* TODO: styles will be added later */
  }

  .checkoutButton {
    /* TODO: styles will be added later */
  }
}
