.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin-top: 40px;
}

.page, .arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  background-color: #FFF;
  border-radius: 50%;
  border: 1px solid #E2E6E9;
  cursor: pointer;
  transition: all 0.3s;

  font-size: 14px;

  &:hover:not(.disabled) {
    border-color: #313237;
  }
}

.active {
  background-color: #313237;

  color: #fff;
  border-color: #313237;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #F1F2F3;
}
