.homePage {
  width: 100%;
}

.homePageBox {
  display: flex;
  flex-direction: column;

  @media (min-width: 640px) {
    flex-direction: row;
  }
}

.homePageLink {
  display: flex;
  flex-direction: column;
}

.homePageImg {
  width: 90%;
}

.categoryTitle {
  /* TODO: styles will be added later */
}

.categoryCount {
  /* TODO: styles will be added later */
}
