@use "../../styles/variables" as *;

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 287px;
  background-color: var(--background-card);
  border: 1px solid var(--border-color);

  padding: 32px;

  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .imageLink {
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;

    .image {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}

.name {
  .nameLink {
    color: var(--color-primary);

    text-decoration: none;

    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    line-height: 21px;
    letter-spacing: 0;

    &:hover {
      color: var(--color-primare);
    }
  }
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 8px;

  .newPrice {
    color: var(--text-primary);

    font-size: $font-size-2xl;
    line-height: 140%;
    letter-spacing: 0;
    font-weight: $font-weight-extrabold;
  }

  .oldPrice {
    color: var(--text-secondary);
    text-decoration: line-through;

    font-size: $font-size-2xl;
    font-weight: $font-weight-semibold;
    line-height: 100%;
    letter-spacing: 0;
  }
}

.separator {
  height: 1px;
  background-color: var(--separator);
  margin-bottom: 16px;
}

.specs {
  margin-bottom: 24px;

  .specItem {
    display: flex;
    justify-content: space-between;

    color: #89939e;

    margin-bottom: 8px;

    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
  }

  .specKey {
    color: $c-grey-dark;
  }

  .specValue {
    color: $c-white-off;
  }
}

.actions {
  display: flex;
  gap: 8px;

  width: 100%;
  height: 40px;

  border: none;
}

.actions > button:first-child {
  flex-grow: 1;
}

.cardButton {
  font-family: Mont, sans-serif;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  line-height: 21px;

  &.primary {
    background-color: var(--button-primary);
    color: #FFF;

    &:hover {
      background-color: var(--button-primary-hover);
    }
  }

  &.secondary {
    background-color: var(--button-secondary);
    border: 1px solid var(--button-secondary-border);
    color: var(--text-primary);
  }
}

.favoriteButton {
  width: 40px;
  color: #B4BDC3;
  background-color: $c-grey-night;
  border: none;

  z-index: 1;

  &:hover {
    box-shadow: 0 3 13 0 $c-grey-charcoal;

    z-index: 0;
  }
}

.favoriteActive {
  background-color: var(--favorite-bg);
  border: 1px solid var(--favorite-border);
  color: var(--favorite-icon);
}

.secondary {
  /* TODO: styles will be added later */
}

.primary {
  /* TODO: styles will be added later */
}
