@use "variables.module" as *;

@mixin smooth-transition($prop: all, $time: 0.3s, $func: ease) {
  transition: $prop $time $func;
}

@mixin hover-scale($scale: 1.1) {
  @include smooth-transition(transform);

  &:hover {
    transform: scale($scale);
  }
}

@mixin hover-scale-icon($scale: 1.1, $icon-selector: ".icon") {
  &:hover {
    #{$icon-selector} {
      transform: scale($scale);
    }
  }

  #{$icon-selector} {
    @include smooth-transition(transform, 0.2s);
  }
}

@mixin underline-hover($line-color: var(--color-accent)) {
  position: relative;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;

    background-color: $line-color;

    transform: scaleX(0);
    transform-origin: left;

    @include smooth-transition(transform);
  }

  &:hover::after {
    transform: scaleX(1);
  }
}
