@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Mont, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: $font-size-md;
  font-weight: $font-weight-regular;

  transition: background-color 0.3s ease, color 0.3s ease;
  overflow-y: auto;

  background-color: var(--background-page);
}

body::-webkit-scrollbar {
  width: 0;
}

@font-face {
  font-family: Mont;
  src: url('../assets/fonts/Mont-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Mont;
  src: url('../assets/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Mont;
  src: url('../assets/fonts/Mont-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
