@use "../../styles/variables" as *;

.actions {
  display: flex;
  gap: 8px;

  width: 100%;
  height: 40px;

  border: none;
}

.favoriteButton {
  background: none;
  border: 1px solid #e2e6e9;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease;
  cursor: pointer;

  &:hover {
    border-color: #313237;
  }
}

.favoriteActive {
  // Styles to come later!
}

.heartIcon {
  // Styles to come later!
}
