.favoritesPage {
  .title {
    /* TODO: styles will be added later */
  }

  .count {
    /* TODO: styles will be added later */
  }

  .grid {
    /* TODO: styles will be added later */
  }

  .empty {
    /* TODO: styles will be added later */
  }
}
