.sortByContainer {
  display: flex;
  justify-content: space-between;
}

.filed {
  /* TODO: styles will be added later */
}

.sortLabel {
  /* TODO: styles will be added later */
}

.selectWrapper {
  position: relative;

  width: 136px;
}

.select {
  width: 100%;
  height: 40px;
  padding-inline: 12px;
  border-radius: 8px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  z-index: 0;
}

.selectArrow {
  position: absolute;
  right: 17px;
  top: 60%;
  transform: translateY(-50%) rotate(90deg);
  pointer-events: none;

  z-index: 10;
}
