.emptyCart {
  .imageWrapper {
    .image {
      /* TODO: styles will be added later */
    }
  }

  .title {
    /* TODO: styles will be added later */
  }

  .description {
    /* TODO: styles will be added later */
  }

  .button {
    /* TODO: styles will be added later */
  }
}
