.containerProductDetailsPage {
  .productPageHero {
    .imagesBlock {
      // I know. I'll fill it in later!
    }

    .selectionBlock {
      // I know. I'll fill it in later!
    }
  }

  .description {
    .about {
      // I know. I'll fill it in later!
    }
  }

  .alsoLike {
    // I know. I'll fill it in later!
  }
}

.skeleton {
  // I know. I'll fill it in later!
}

.techSpecs {
  // I know. I'll fill it in later!
}
