.techSpecsBlock {
  .sectionTitle {
    // I'll fill it in later!
  }

  .techSpecs {
    // I'll fill it in later!
  }
}

.specRow {
  .label {
    // I'll fill it in later!
  }

  .value {
    // I'll fill it in later!
  }
}
