@use "../../styles/variables" as *;
@use "../../styles/effects" as *;

.footer {
  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 100%;
  height: auto;
  background-color: var(--background-page);

  padding-block: 32px;
  padding-inline: $padding-inline-mobile;
  border-top: 1px solid #e2e6e9;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    justify-content: space-between;

    padding-inline: $padding-inline-desktop;
  }

  @media (min-width: $breakpoint-XXDesktop) {
    padding-inline: $padding-inline-XXDesktop;
    gap: 106px;
  }

  .logo {
    @media (min-width: $breakpoint-desktop) {
      width: 80px;
      padding: 0 24px;
    }

    .logoImg {
      display: block;

      width: 64px;
      height: auto;

      @media (min-width: $breakpoint-desktop) {
        width: 80px;
      }
    }
  }

  .navigation {
    width: 100%;

    display: flex;
    flex-direction: column;

    background-color: var(--background-page);
    gap: 16px;

    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 13px;

      width: 200px;
    }

    @media (min-width: $breakpoint-desktop) {
      gap: 106px;
    }

    &__link {
      color: $c-white-off;
      text-decoration: none;
      text-transform: uppercase;

      font-weight: 800;
      font-size: 12px;
      line-height: 11px;

      @include smooth-transition(color);

      &:hover {
        color: $c-white-off;
      }
    }
  }

  .scrollToTop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    width: 100%;
    height: 32px;
    color: $c-grey-dark;
    background-color: transparent;

    font-family: Mont, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    cursor: pointer;

    @media (min-width: $breakpoint-tablet) {
      justify-content: right;

      width: 200px;

      .scrollButtonToTop {
        width: 32px;
        height: 32px;
      }
    }

    .boxArrowToTop {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 32px;
      height:32px;
      color: #F1F2F9;

      @include ripple-hover;

      .imgArrowToTop {
        z-index: 1;
      }
    }
  }
}

.arrowIcon {
  transform: rotate(-90deg);
}

.scrollButtonToTop {
  /* TODO: styles will be added later */
}
