.containerProductDetailsPage {
  // I know. I'll fill it in later!
  .breadcrumbs {
    // I know. I'll fill it in later!
  }

  .arrowButtonBack {
    color: black;
  }

  .title {
    // I know. I'll fill it in later!
  }

  .h3 {
    // I know. I'll fill it in later!
  }

  .productDetails {
    .productPageHero {
      .imagesBlock {
        .imageBoss{
          // I know. I'll fill it in later!
        }
        .imagesBox {
          // I know. I'll fill it in later!
        }
      }

      .selectionBlock {
        .colorsSelectionBox {
          // I know. I'll fill it in later!
        }

        .idNumber {
          // I know. I'll fill it in later!
        }
      }

      .technicalInformation {
        // I know. I'll fill it in later!
      }
    }

    .description {
      // I know. I'll fill it in later!
    }
  }
}

