@use "../../styles/variables" as *;
@use "../../styles/effects" as *;
@use "../../styles/mixins" as *;

.navigation {
  width: 100%;
  height: 48px;
  background-color: var(--background-page);

  display: none;
  align-items: center;
  gap: 32px;
  text-align: center;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    margin-left: 16px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-left: 24px;
  }

  &__link {
    @include nav-link-base;

    &:hover::after {
      left: 0;
      bottom: -18px;

      width: 100%;
      height: 2px;

      @media (min-width: $breakpoint-desktop) {
        bottom: -27px;
      }
    }
  }

  &__right {
    display: flex;
    justify-content: space-around;

    width: 100px;
    height: 100%;

    margin-left: auto;

    @media (min-width: $breakpoint-desktop) {
      width: 128px;
    }
  }

  &__iconLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-left: 1px solid #3B3E4A;

    @include ripple-hover;
  }

  &__icon {
    width: 1rem;
    height: auto;
    z-index: 1;
  }
}
